body {
  background-color: #f4ffaa;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  margin-left: 150px;
  color: black;
}

#tekstOutput {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: black;
  margin-left: 150px;
}
